---

---

<footer class="bg-white py-1">
    <div class="container px-6 py-8 mx-auto">
        <div class="flex flex-col items-center text-center"></div>

        <hr class="my-10 border-gray-200 dark:border-gray-500" />

        <div class="flex flex-col items-center sm:flex-row sm:justify-between">
            <p class="text-sm text-gray-500">
                © Copyright 2024. All Rights Reserved.
            </p>

            <div class="flex mt-3 -mx-2 sm:mt-0">
                <a
                    href="#"
                    class="mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300"
                    aria-label="Reddit"
                >
                    Términos y Condiciones</a
                >

                <a
                    href="#"
                    class="mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300"
                    aria-label="Reddit"
                >
                    Privacidad</a
                >

                <a
                    href="#"
                    class="mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300"
                    aria-label="Reddit"
                >
                    Cookies
                </a>
            </div>
        </div>
    </div>
    <slot />
</footer>
